Attention_Translation/spa-eng/_about.txt
Attention_Translation/spa-eng/spa.txt
Attention_Translation/training_checkpoints/checkpoint
Attention_Translation/training_checkpoints/ckpt-1.data-00000-of-00001
Attention_Translation/training_checkpoints/ckpt-1.index
Attention_Translation/training_checkpoints/ckpt-2.data-00000-of-00001
Attention_Translation/training_checkpoints/ckpt-2.index
Attention_Translation/training_checkpoints/ckpt-3.data-00000-of-00001
Attention_Translation/training_checkpoints/ckpt-3.index
Attention_Translation/training_checkpoints/ckpt-4.data-00000-of-00001
Attention_Translation/training_checkpoints/ckpt-4.index
Attention_Translation/training_checkpoints/ckpt-5.data-00000-of-00001
Attention_Translation/training_checkpoints/ckpt-5.index
